@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using DemoLocalization.Resources;
@*@using Microsoft.Extensions.Localization*@
@inject IStringLocalizer<SharedResource> Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization;
@*@inject IViewLocalizer Localizer*@

<h1>@Localizer["WelcomeMessage"]</h1>

